<header>
  
<div class="navbar">
  <a id="site-title" href="#home">{{ site.title }}</a>
  <i class="fa fa-home fa-1.5x"></i>
  <a class="active" href="#home">Home</a>
  <a href="#about">About</a>
</div>
  
</header>

<!-- margin: top right bottom left -->

<style>
  
header { 
  background-color: black; 
  height: 200px;
  padding: 8px 16px;
  font-family: Verdana,sans-serif;
  font-size: 15px;
  line-height: 1.5;
} 
  
#site-title {
  font-size: 120%;
  text-transform: uppercase;
  margin: 0px 30px 0px 0px;
}
  
.navbar a {
  color: white;
  margin: 0px 15px 0px 0px;
  text-align: center;
}
  
.navbar i {
  color: white;
}
  
</style>
