---
layout: format-text
---
  
{{ content }}




<h2> Ryan vs Ryan </h2>

<table id="ryan-v-ryan">

<thead>
  <tr>
    <th>  <h3>  Ryan Reynolds  </h3>  </th>
    <th>  <h3>  Ryan Gosling  </h3>  </th>
  </tr>
</thead>

<tbody>

<tr>
  <td>
  
    <h4>  Strengths  </h4>
    <ul>
      
      {% for item in page.reynolds.strengths %}
         <li>{{item.reynolds.strengths}}</li>
      {% endfor %}
      
    </ul>
    
    <br>

    <h4>  Weaknessess  </h4>
    <ul>
      
      {% for item in page.reynolds.weaknesses %}
         <li>{{item.reynolds.weaknesses}}</li>
      {% endfor %}
      
    </ul>  
    
  <td>
<tr>  

<tr>
  <td>
  
    <h4>  Strengths  </h4>
    <ul>
      
      {% for item in page.gosling.strengths %}
        <li>{{item.gosling.strengths}}</li>
      {% endfor %}
      
    </ul>
    
    <br>
    
    <h4>  Weaknessess  </h4>
    <ul>
      
      {% for item in page.gosling.weaknesses %}
         <li>{{item.gosling.weaknesses}}</li>
      {% endfor %}
      
    </ul>

  <td>
<tr> 

</table>
