---
layout: format-text
---
  
{{ content }}




<h2> Ryan vs Ryan </h2>

<table id="ryan-v-ryan">

<thead>
  <tr>
    <th>  <h3>  Ryan Reynolds  </h3>  </th>
    <th>  <h3>  Ryan Gosling  </h3>  </th>
  </tr>
</thead>

<tbody>

<tr>
  
  
  <td>
  
    
    <h4>  Strengths  </h4>
    <ul>
      
      {% for item in page.reynolds.strengths %}
         <li>{{ item }}</li>
      {% endfor %}
      
    </ul>
    
    <br>

    <h4>  Weaknessess  </h4>
    <ul>
      
      {% for item in page.reynolds.weaknesses %}
         <li>{{ item }}</li>
      {% endfor %}
      
    </ul>  
    
    
  </td>
  


  <td>
  
    <h4>  Strengths  </h4>
    <ul>
      
      {% for item in page.gosling.strengths %}
        <li>{{ item }}</li>
      {% endfor %}
      
    </ul>
    
    <br>
    
    <h4>  Weaknessess  </h4>
    <ul>
      
      {% for item in page.gosling.weaknesses %}
         <li>{{ item }}</li>
      {% endfor %}
      
    </ul>

  </td>
</tr> 

</table>


<br>

-------

<br>


<blockquote>
<pre>
<code>

###
###  LIQUID TABLE USING YAML DATA
###


    # YAML HEADER

    ---
    layout: add-table
    title: 'amiright?'
    reynolds:
      strengths:
      - good father
      - funny
      - dated alanis morissette
      weaknesses: 
      - singing
      - green lantern movie
      - tennis backhand 
    gosling:
      strengths: 
      - builds houses
      - is a real boy
      - never dated alanis morissette
      weaknesses: 
      - micky mouse club
      - cries a lot
      - not ryan reynolds
    ---

    # LIQUID TAG TABLE IN LAYOUT

    &lt;h2> Ryan vs Ryan &lt;/h2>

    &lt;table id="ryan-v-ryan">

    &lt;thead>
      &lt;tr>
        &lt;th>  &lt;h3>  Ryan Reynolds  &lt;/h3>  &lt;/th>
        &lt;th>  &lt;h3>  Ryan Gosling  &lt;/h3>  &lt;/th>
      &lt;/tr>
    &lt;/thead>

    &lt;tbody>
    &lt;tr>
      &lt;td>
        &lt;h4>  Strengths  &lt;/h4>
        &lt;ul>
          &lbrace;% for item in page.reynolds.strengths %}
             &lt;li>  &lbrace;&lbrace; item }}  &lt;/li>
          &lbrace;% endfor %}
        &lt;/ul>
        &lt;br>
        &lt;h4>  Weaknessess  &lt;/h4>
        &lt;ul>
          &lbrace;% for item in page.reynolds.weaknesses %}
             &lt;li>  &lbrace;&lbrace; item }}  &lt;/li>
          &lbrace;% endfor %}
        &lt;/ul>  
      &lt;/td>
      &lt;td>
        &lt;h4>  Strengths  &lt;/h4>
        &lt;ul>
          &lbrace;% for item in page.gosling.strengths %}
            &lt;li>  &lbrace;&lbrace; item }}  &lt;/li>
          &lbrace;% endfor %}
        &lt;/ul>
        &lt;br>
        &lt;h4>  Weaknessess  &lt;/h4>
        &lt;ul>
          &lbrace;% for item in page.gosling.weaknesses %}
             &lt;li>  &lbrace;&lbrace; item }}  &lt;/li>
          &lbrace;% endfor %}
        &lt;/ul>
      &lt;/td>
    &lt;/tr> 
    &lt;/table>

</code>
</pre>
</blockquote>

<style>
  pre{
  font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
  margin-bottom: 10px;
  padding: 5px;
  background-color: #eee;
  width: 750px!ie7;
  padding-bottom: 20px!ie7;
}
</style>

