<!DOCTYPE html>
<html lang="en">
 
    
    {% include head.html %}



                                          <!-- START OF CONTENT  -->
    <body>                                
        
                                          <!-- top slice of bread  -->
       {% include header.html %}        
     
                                          <!-- sandwich meat  -->
       {{ content }}                      
        
                                          <!-- bottom slice of bread  -->
       {% include footer.html %}          
        
                                          <!-- END OF CONTENT  --> 
    </body>                               

 
    
    
    
</html>
