<!DOCTYPE html>
<html lang="en">
    
    {% include head.html %}

                                          <!-- START OF CONTENT  -->
    <body>                                
        
                                          <!-- top slice of bread  -->
       {% include header.html %}        
     
                                          <!-- sandwich meat  -->
       {{ content }}                      
        
                                          <!-- bottom slice of bread  -->
       {% include footer.html %}          
        
                                          <!-- END OF CONTENT  --> 
    </body>                               

</html>





<style>
 
body { 
 margin-right: auto; 
 margin-left: auto; 
 width: 800px; 
 padding-top: 50px;
 padding-left: 10px;
 padding-bottom: 50px;
 padding-right: 10px;
 background-color: oldlace;
}
 
button {
  background-color: #555555; 
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  border-radius: 8px;
}
 
</style>
